footer{
  background-color: rgb(39, 39, 39);
  h1{
      color: white;
      font-size:larger;
      padding-top: 5%;
      padding-left: 5%;
      font-weight: 400;
    }
    a{ 
      color: white;
    }
    i{
      color: white;
    }
}