footer{
  background-color: rgb(39, 39, 39);
  padding: 10px;
  padding-bottom: 20px;
  h3{
      font-family: Shrikhand;
      color: white;
      font-weight: 400;
      padding-left: 15px;
    }
    div{
      padding-bottom: 10px;
    }
    a{ 
      color: white;
      padding-left: 10px;
    }
    i{
      color: white;
      padding-left: 15px;
    }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Desktop */
@media (min-width: 767.98px) {

footer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
  gap: 75px;
}

}