.search {
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: 15px;
    box-shadow: 100px 50px 50px black;
    &__bar{
        background-color: transparent;
        border: none;
    }
}

.search input {
    text-align: center;
}

.explorer{
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding: 30px;
    h1{
        margin-top: 0px;
        font-size: 24px;
    }
    button{
      color: white;
      background: linear-gradient(#FF79DA, #9356DC);
      border: none;
      padding: 15px 20px;
      border-radius: 25px;
      font-size: 16px;
      box-shadow: 5px 5px 5px rgb(205, 205, 205);
    }
}

.fonction{
    padding: 15px;
    button{
        position: relative;
        background: rgb(243, 243, 243);
        box-shadow: 5px 5px 5px rgb(198, 198, 198);
        display: flex;
        width: 100%;
        padding: 10px;
        align-items: center;
        border-radius: 15px;
        font-size: 15px;
        margin-bottom: 20px;
        border: none;
    }
    p{
        margin-left: 20px;
    }
    i {
        margin-left: 20px;
    }
    button:hover{
        color: #9356DC;
    }
    &__number{
        position: absolute;
        top: 22px;
        left: -10px;
        background-color: #9356DC;
        color: white;
        display: flex;
        height: 4px;
        padding: 10px 7px;
        align-items: center;
        border-radius: 100px;
    }
}

.restaurant {
    background-color: rgb(233, 233, 233);
    padding: 15px;
    img {
        height: 150px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    &__content {
      background-color: white;
      color: black;
      border-radius: 20px 20px 20px 20px;
      margin-bottom: 10px;
      justify-content: space-between;
      padding-bottom: 1px;
    }
    a{
      position: relative;
      background-color: rgb(233, 233, 233);
    }
    &__new1{
      background-color: lightgreen;
      padding: 10px;  
      border-radius: 5px; 
      color: darkgreen;
      position: absolute;
      top: 820px;
      right: 30px;
    }
    &__new2{
    background-color: lightgreen;
      padding: 10px;  
      border-radius: 5px; 
      color: darkgreen;
      position: absolute;
      top: 1075px;
      right: 30px;
    }
    &__card{
        margin-left: 10px;
    }
    &__heart1{
        font-size:x-large;
        position: absolute;
        top: 990px;
        right: 40px;
        background-color: white;
        box-shadow: 0 200px 100px -100px white inset; 
        transition: box-shadow 1s;
    }
    &__heart1:hover{
        background-color: #9356DC;
        box-shadow: 0 200px 100px -100px #FF79DA inset;
    }
    &__heart2{
        font-size:x-large;
        position: absolute;
        top: 1250px;
        right: 40px;
    }
    &__heart3{
        font-size:x-large;
        position: absolute;
        top: 1510px;
        right: 40px;  
    }
    &__heart4{
        font-size:x-large;
        position: absolute;
        top: 1770px;
        right: 40px;
    }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Desktop */
@media (min-width: 767.98px) {

.fonction {
    padding-left: 5%;
    flex-wrap: wrap;
    flex-direction: row;
    button{
        width: 28%;
    }
}

.restaurant{
    padding-left: 5%;
    flex-wrap: wrap;
    flex-direction: row;
    &__content{
        width: 40%;
    }
}

}