.search {
    background-color: rgb(233, 233, 233);
    text-align: center;
    padding: 15px;
    box-shadow: 100px 50px 50px black;
    &__bar{
        background-color: transparent;
        border: none;
    }
}

.search input {
    text-align: center;
}

.explorer{
    background-color: rgb(243, 243, 243);
    text-align: center;
    padding: 30px;
    h1{
        margin-top: 0px;
        font-size: 24px;
    }
    button{
      color: white;
      background: linear-gradient(#FF79DA, #9356DC);
      border: none;
      padding: 15px 20px;
      border-radius: 25px;
      font-size: 16px;
      box-shadow: 5px 5px 5px rgb(205, 205, 205);
    }
}

.fonction{
    padding: 15px;
    background-color: #fff;
    button{
        position: relative;
        background: rgb(243, 243, 243);
        box-shadow: 5px 5px 5px rgb(198, 198, 198);
        display: flex;
        width: 100%;
        padding: 10px;
        align-items: center;
        border-radius: 15px;
        font-size: 15px;
        margin-bottom: 20px;
        border: none;
    }
    p{
        margin-left: 20px;
    }
    i {
        margin-left: 20px;
    }
    button:hover{
        color: #9356DC;
    }
    &__number{
        position: absolute;
        top: 22px;
        left: -10px;
        background-color: #9356DC;
        color: white;
        display: flex;
        height: 4px;
        padding: 10px 7px;
        align-items: center;
        border-radius: 100px;
    }
}

.restaurant {
    background-color: rgb(233, 233, 233);
    padding: 15px;
    img {
        height: 150px;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }
    &__card{
        padding: 15px;
        margin-bottom: 15px;
    }
    &__content {
      background-color: white;
      color: black;
      border-radius: 20px 20px 20px 20px;
      justify-content: space-between;
    }
    a{
      position: relative;
      background-color: rgb(233, 233, 233);
    }
    h3{
        margin: 0;
    }
    p{
        margin-top: 5px;
        margin-bottom: 0px;
    }
    &__new{
      background-color: #99E2D0;
      padding: 10px;  
      border-radius: 5px; 
      color: #008766;
      position: relative;
      top: -125px;
      right: -260px;
    }
    .empty, .full{
        font-size:x-large;
        position: absolute;
        right: 35px;
        bottom: -15px;
    }
    .full{
        background: linear-gradient(#9356DC, #FF79DA);
        color: transparent;
        opacity: 0;
        -webkit-background-clip: text;
    }
    &__heart:hover{
        .full{
            animation: heart 500ms;
            animation-fill-mode: both;
        }
    }
}

@keyframes heart{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Desktop */
@media (min-width: 767.98px) {

    .fonction {
        flex-wrap: wrap;
        flex-direction: row;
        &__buttons{
            display: flex;
            gap: 30px;
        }
        button{
            width: 33%;
        }
    }

    .restaurant{
        flex-wrap: wrap;
        flex-direction: row;
        &__cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
        &__new{
            position: absolute;
            top: 15px;
            right: 15px;
          }
          .empty, .full{
              position: absolute;
              right: 30px;
              bottom: 40px;
          }
    }

}