.entrees, .plats, .desserts{
    opacity:0;
    animation: reveal 2s;
    animation-fill-mode: both;
}

.entrees{
    animation-delay: 1s;
}

.plats{
    animation-delay: 2s;
}

.desserts{
    animation-delay: 3s;
}

@keyframes reveal {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}