@charset "UTF-8";
::-moz-placeholder {
  color: #000;
}
::placeholder {
  color: #000;
}

::-ms-input-placeholder {
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  text-align: center;
  padding: 15px;
}

footer {
  background-color: rgb(39, 39, 39);
  padding: 10px;
  padding-bottom: 3px;
}
footer h3 {
  font-family: Shrikhand;
  color: white;
  font-weight: 400;
  padding-left: 15px;
}
footer ul {
  padding: 15px;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  color: white;
}
footer i {
  color: white;
  padding-right: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Desktop */
@media (min-width: 767.98px) {
  footer {
    text-align: right;
    flex-direction: row;
  }
}
.search {
  background-color: rgb(233, 233, 233);
  text-align: center;
  padding: 15px;
  box-shadow: 100px 50px 50px black;
}
.search__bar {
  background-color: transparent;
  border: none;
}

.search input {
  text-align: center;
}

.explorer {
  background-color: rgb(243, 243, 243);
  text-align: center;
  padding: 30px;
}
.explorer h1 {
  margin-top: 0px;
  font-size: 24px;
}
.explorer button {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 5px 5px 5px rgb(205, 205, 205);
}

.fonction {
  padding: 15px;
}
.fonction button {
  position: relative;
  background: rgb(243, 243, 243);
  box-shadow: 5px 5px 5px rgb(198, 198, 198);
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  font-size: 15px;
  margin-bottom: 20px;
  border: none;
}
.fonction p {
  margin-left: 20px;
}
.fonction i {
  margin-left: 20px;
}
.fonction button:hover {
  color: #9356DC;
}
.fonction__number {
  position: absolute;
  top: 22px;
  left: -10px;
  background-color: #9356DC;
  color: white;
  display: flex;
  height: 4px;
  padding: 10px 7px;
  align-items: center;
  border-radius: 100px;
}

.restaurant {
  background-color: rgb(233, 233, 233);
  padding: 15px;
}
.restaurant img {
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__content {
  background-color: white;
  color: black;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 10px;
  justify-content: space-between;
  padding-bottom: 1px;
}
.restaurant a {
  position: relative;
  background-color: rgb(233, 233, 233);
}
.restaurant__new1 {
  background-color: lightgreen;
  padding: 10px;
  border-radius: 5px;
  color: darkgreen;
  position: absolute;
  top: 820px;
  right: 30px;
}
.restaurant__new2 {
  background-color: lightgreen;
  padding: 10px;
  border-radius: 5px;
  color: darkgreen;
  position: absolute;
  top: 1075px;
  right: 30px;
}
.restaurant__card {
  margin-left: 10px;
}
.restaurant__heart1 {
  font-size: x-large;
  position: absolute;
  top: 990px;
  right: 40px;
  background-color: white;
  box-shadow: 0 200px 100px -100px white inset;
  transition: box-shadow 1s;
}
.restaurant__heart1:hover {
  background-color: #9356DC;
  box-shadow: 0 200px 100px -100px #FF79DA inset;
}
.restaurant__heart2 {
  font-size: x-large;
  position: absolute;
  top: 1250px;
  right: 40px;
}
.restaurant__heart3 {
  font-size: x-large;
  position: absolute;
  top: 1510px;
  right: 40px;
}
.restaurant__heart4 {
  font-size: x-large;
  position: absolute;
  top: 1770px;
  right: 40px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Desktop */
@media (min-width: 767.98px) {
  .fonction {
    padding-left: 5%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .fonction button {
    width: 28%;
  }
  .restaurant {
    padding-left: 5%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .restaurant__content {
    width: 40%;
  }
}
nav a {
  font-size: x-large;
  position: absolute;
  left: 20px;
  top: 20px;
}

.background__image {
  background-size: cover;
  width: 100%;
  height: 270px;
}

.menu {
  background-color: rgb(233, 233, 233);
}
.menu__title {
  background-color: rgb(233, 233, 233);
  font-family: Shrikhand;
  text-align: left;
  margin-top: 0px;
  padding: 15px;
}
.menu i {
  font-size: x-large;
  position: absolute;
  top: 365px;
  left: 350px;
}
.menu h2 {
  margin-left: 10px;
  font-weight: 100;
  border-bottom: solid 4px lightgreen;
  width: 15%;
  padding-bottom: 8px;
}
.menu__button {
  background: white;
  margin-left: 10px;
  box-shadow: 5px 5px 5px rgb(198, 198, 198);
  display: flex;
  height: 50px;
  padding: 23px 16px;
  align-items: center;
  border-radius: 15px;
  font-size: 15px;
  margin-bottom: 20px;
  border: none;
  width: 85%;
  justify-content: space-between;
}

.commander__button {
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 5px 5px 5px rgb(205, 205, 205);
  margin-bottom: 25px;
  margin-left: 70px;
  margin-top: 20px;
  width: 60%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Desktop */
@media (min-width: 767.98px) {
  .background {
    width: 100%;
    height: 450px;
  }
  .background__image {
    background-size: cover;
  }
  .menu {
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .menu__title {
    text-align: center;
  }
  .menu__name i {
    position: absolute;
    top: 538px;
    left: 1100px;
  }
  .entrees, .plats, .desserts {
    padding-bottom: 25px;
  }
  .commander__button {
    width: 25%;
    margin-left: 30%;
  }
}
.loader {
  border-top: 10px solid #FF79DA;
  border-left: 10px solid #FF79DA;
  border-right: 10px solid #9356DC;
  border-bottom: 10px solid #9356DC;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.5s linear infinite;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fondu-out {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */